<div class="tags-page">

  <div class="sources-selection">
    {{# sources }}
    <ul class="flex-hz sources-list">
      {{# items }}
      <li>
	    <a href="{{ target }}">{{ label }}</a>
      </li>
      {{/ items }}
    </ul>
    {{/ sources }}
  </div>


  <div class="tags-selection">
    {{# tags }}
    <fieldset class="flex">
      <legend>{{ locales.tags-list }}</legend>
      <ul class="flex-hz tags-list">
        {{# items }}
        <li>
	      <a href="{{ target }}">{{ label }}</a>
        </li>
        {{/ items }}
      </ul>
    </fieldset>
    {{/ tags }}
  </div>


  {{# custom-meta }}
  <div class="custom-meta-selection">
    {{# items }}
    <fieldset class="flex">
      <legend>{{ field }}</legend>
      {{# keys }}
      <ul class="flex-hz custom-meta-list">
        {{# items }}
        <li>
	      <a href="{{ target }}">{{ label }}</a>
        </li>
        {{/ items }}
      </ul>
      {{/ keys }}
    </fieldset>
    {{/ items }}
  </div>
  {{/ custom-meta }}


  {{# pages }}
  <div class="results">
    <fieldset class="flex">
      <legend>&rarr; {{ locales.pages-list }}</legend>
      <ul class="flex-hz pages-list">
        {{# items }}
        <li>
	      <a href="{{ target }}">{{ label }}</a>
        </li>
        {{/ items }}
      </ul>
    </fieldset>
  </div>
  {{/ pages }}
</div>

