<div class="tags-page">
  <div class="tags-selection">
    {{# tags }}
    <fieldset class="meta">
      <legend>{{ locales.tags-list }}</legend>
      <ul class="flex-hz tags-list">
        {{# items }}
        <li>
	      <a href="{{ target }}">{{ label }}</a>
        </li>
        {{/ items }}
      </ul>
    </fieldset>
    {{/ tags }}
  </div>
  {{# custom-meta }}
  <div class="custom-meta-selection">
    {{# items }}
    <fieldset class="meta">
      <legend>{{ field }}</legend>
      {{# keys }}
      <ul class="flex-hz custom-meta-list">
        {{# items }}
        <li>
	      <a href="{{ target }}">{{ label }}</a>
        </li>
        {{/ items }}
      </ul>
    </fieldset>
    {{/ keys }}
    {{/ items }}
  </div>
  {{/ custom-meta }}
  <div class="results">
    {{# pages }}
    <fieldset class="meta">
      <legend>&rarr; {{ locales.pages-list }}</legend>
      <ul class="flex-hz pages-list">
        {{# items }}
        <li>
	      <a href="{{ target }}">{{ label }}</a>
        </li>
        {{/ items }}
      </ul>
    </fieldset>
    {{/ pages }}
  </div>
</div>

